 <div class="container">
   <h1 class="border border-secondary" >Liste de tous les jets</h1>
    <% @airplanes.each do |airplane| %>
      <%= link_to airplane_path(airplane) do %>
      <p> <strong>> Modèle du jet:</strong> <%= airplane.model %></p>
      <p> <strong> Localisation :</strong><%= airplane.address %></p>
      <p> <strong>Prix à la journée: </strong><%= airplane.daily_price %> euros</p>
    <% end %>
   <% end %>
 </div>