<div class="home-background" style="background-image: url('<%= image_path "private-jet-inside.jpeg"%>')">
  <div class="container h-100">
  <div class="content">
    <h2 class="tag-line justify-content-center white"><strong>Find your Private Jet</strong></h2> 
    <div class="d-flex align-items-center justify-content-center h-10">
      <form>
        <div class="form-row">
          <div class="col-3 form-group">
            <label class="lab linebrown">Location</label>
            <input type="text" class="form-control" placeholder="Where are you?">
          </div>
          <div class="col-3 form-group">
            <label class="lab linebrown">Start date</label>
            <input type="date" class="form-control" placeholder="Add dates">
          </div>
          <div class="col-3 form-group">
            <label class="lab linebrown">End date</label>
            <input type="date" class="form-control" placeholder="Add dates">
          </div>
          <div class="col-3 form-group">
            <label class="lab linebrown">Category</label>
            <input type="text" class="form-control" placeholder="Add category">
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
<div class="row p-5 d-flex justify-content-around">
  <div class="col-4">
    <h4 class="text-center linewhite">Compare the options and choose the one which best suits you</h4>
    <p class="pt-3">
      Hiring a private flight with us is very easy: choose from where you want to fly, the number of passengers and the type of private jet you want to rent (Light Jet, Medium Jet and Large Jet)</p>
  </div>
  <div class="col-4">
    <h4 class="text-center linewhite">There is no corner in the sky in which we cannot make you fly</h4>
    <p class="pt-3">
    Our service reaches more than 5000 airports in the world. We will take you wherever you want both commercial and private airport.
    </p>
  </div>
  <div class="col-4">
    <h4 class="text-center linewhite">Flying distances in the safest and most comfortable private jet</h4>
    <p class="pt-3">
    We have selected only the best of general aviation: pilots chosen on an expertise basis and latest aircraft, to fly with the greatest safety and 
    </p>
  </div>
</div>

