.btn-search {
    width: 80px;
    height: 38px;
    background-color: white;
    border: solid 2px #B7AB8D;
    color: #B7AB8D;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.btn-search:hover {
    background-color: #B7AB8D;
    color: white;
}