.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

// .map-to-right {
//   height: 95vh;
//   position: sticky;
//   top: 0;
// }