$background-color : #413838;
$font-color : #c0c1c5;

.navbar-lewagon {
  justify-content: space-between;
  background: $background-color;
  color: $font-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $font-color; 
}