$background-color : #413838;
$font-color : #efe1b4;

.navbar-lewagon {
  justify-content: space-between;
  background: $background-color;
  color: $font-color;
  height: 83px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $font-color;
}

.navbar-light .navbar-nav .nav-link:hover {
 color: #f8faef;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: $font-color;
}

.navbar-light .navbar-nav .active > .nav-link:hover {
  color: #f8faef;
}