.card-category {
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width:25px;

    }

#add {
color: white;
}


.avion {
position: relative;

}

.avion_image {
  position: absolute;
  bottom: 28px;
  right: 0px;
  transform: rotate(-25deg);
  color: #413838;
}
