
.description-booking {
  display: flex;
  justify-content: space-between;
}


.airplane-infos {
background-color:#FAFAFA;
 background-color:white;
 padding:18px;
 padding-top:20px;
 width:700px;
 text-align: center;
 border-width:1.5px;
 border-style:solid;
 border-color:black;
}



.booking-form {
 background-color:#FAFAFA;
 background-color:white;
 width:740px;
 height:250px;
 margin:20px;
 padding:20px;
 border-width:1.5px;
 border-style:solid;
 border-color:black;
}


// .container-show {
//     padding-right: 9px;
//     padding-top: 30px;
//     padding-left: 20px;
//     padding-bottom: 5px;
//     margin-right: 3px;
//     margin-left: 9px;
// }

.one {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}


.location {
margin-top: 60px;
}

.imageshow {

}
