
.description-booking {
  display: flex;
  justify-content: space-between;
}


.airplane-infos {
  padding:18px;
  width:700px;
  text-align: justify;
  padding-top:50px;
}

.booking-form {
  width:740px;
  height:250px;
  margin-left:40px;
  padding:20px;

}

.one {
  padding: 30px;
  display: grid;
  width:1140px;
  height:550px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  border-color:#413838
}

.grid-adjuster {
  margin-top:20px;
  width: 500px;
  height: 200px;
}


.location {
  margin-top: 60px;
}

.imageshow {
  border-radius: 5px;
  width:100%;
  height:100%;
  border-color:#413838;
  border-width: 2px;
}


#price {
 font-size: 25px;
}

#titre {
  text-align:center;
  font-size: 75px;
  font-color:#413838;
}
